@using Gemini.Portal.Client.Components.DigitalTwin.Interface

<div>
    <button onclick="@(() => TwinInterfaceShape.AddNew(_svg))">Add Interface</button>
</div>
<div style="height:80vh">
    <Svg @ref="_svg" Input=@Input InputUpdated="(string s) => { Input = s; StateHasChanged(); }" SelectionMode="SelectionMode.WindowSelection" />
</div>

@code {
    protected Svg _svg;
    protected string Input = "";
}