
<MudPaper Elevation="2" Height="80px" Width="300px" Class="d-flex">
    
    <MudPaper Elevation="0" Class="d-inline d-flex pa-2">
        <MudIcon Icon="@Icons.Material.Filled.Schema" Color="Color.Inherit" Class="d-inline align-content-center" Size="Size.Large"/>
    
        <div class="d-inline ml-2">
            <MudText>@Model.Name</MudText>
        </div>
    </MudPaper>
   
</MudPaper>

@code {
    [Parameter]
    public TwinSchemaViewModel Model { get; set; }
}